
$enable-responsive-font-sizes: true;
$box-shadow-sm: 0;
$box-shadow: 0;
$box-shadow-lg: 0;
$table-bg-level: 0;
$table-border-level: 0;
$btn-disabled-opacity: .5;
$input-group-addon-bg: $white;
$dropdown-padding-y: 0;
$dropdown-item-padding-y: .5rem;
$alert-bg-level: 0;
$alert-color-level: 12;
$alert-border-level: 0;
$progress-height: .5rem;
$spinner-border-width: .125em;
$close-text-shadow: 0;
$badge-padding-y: .4em;
$input-btn-focus-width: .15rem;
$dropdown-box-shadow: 0;
$popover-header-bg: $white;
$popover-box-shadow: 0;
$toast-background-color: $white;
$toast-box-shadow: 0;
$toast-header-background-color: $white;
$pagination-focus-box-shadow: 0;
$enable-transitions: false;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$body-color: #212121;